"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "bookmarks"
      "welcome"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-hyperlink"
      "language-java"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sql"
      "language-toml"
      "metrics"
      "whitespace"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    reopenProjectMenuCount: 5
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom-inset"
    useProxySettingsWhenCallingApm: false
    warnOnLargeFileLimit: 25
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "076a4c6d-a6e0-0946-4dfd-b3436e3e83f5"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
  "symbols-tree-view":
    autoToggle: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
