packages: [
  "editorconfig"
  "emmet"
  "file-icons"
  "git-plus"
  "language-babel"
  "language-javascript-jsx"
  "line-length-break"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "prettier-atom"
]
